<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo</title>
  <link rel="stylesheet" href="static/style.css">
  <script src="static/index.js"></script>
</head>
<body>
  <div class="container">
    <h1>Todo</h1>
    <% todo.items.forEach((v) => { %>
      <div class="item">
        <div class="label f8" id="<%= `text ${v.id}` %>"><%= v.text %></div>
        <input class="input f1" autocomplete="off" type="text" id="<%= `priority ${v.id}` %>" value="<%= v.priority %>">
        <input class="input f4" autocomplete="off" type="date" id="<%= `date ${v.id}` %>" value="<%= v.dateString() %>">
        <button class="f1 button icon warn" onclick="remove('<%= v.id %>')">󰩹</button>
        <button class="f1 button icon tertiary" onclick="update('<%= v.id %>')">󱩼</button>
      </div>
    <% }) %>
    <div class="item">
      <input class="input f8" autocomplete="off" type="text" id="entry" name="entry" placeholder="New item">
      <input class="input f1" autocomplete="off" type="text" id="priority" name="priority" placeholder="priority">
      <input class="input f4" autocomplete="off" type="date" id="date" name="date" placeholder="date">
      <button class="button icon primary f2" onclick="add()">󰌴</button>
    </div>
    <div class="item">
      <input class="input full" autocomplete="off" type="text" id="schedule" name="schedule" value="<%= subInfo?.schedule %>" placeholder="0 9 * * *">
    </div>
    <div class="item">
      <button class="full button secondary" onclick="subscribe()">Subscribe</button>
    </div>
    <div class="item">
      <button class="full button misc" onclick="unsubscribe()">Unsubscribe</button>
    </div>
  </div>
</body>
</html>

